.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.drink_container {
    background-color: rgba(1,3,18, 0.5) ;
    display: inline-block;
    padding: 20px;
    margin: auto;
    border: 3px solid red;

}
img {
    max-height: 200px;
    }
.card {
    border: 2px solid darkolivegreen;
    background-color: greenyellow;
}